---
layout: default
---

<div class="home">
{% include author.html %}
<section id="latest">
  <article>
    <header>
      <hgroup>
        <h1><a href="{{ site.posts.first.url }}">{{ site.posts.first.title | camel_break }}</a></h1>
        <span class="post-date">{{ site.posts.first.date | date: "%B %-d, %Y" }}</span>
      </hgroup>
    </header>
	{{ site.posts.first.excerpt | markdownify }}
	<a class="button" href="{{ site.posts.first.url }}" style="margin-top: 10px !important;">Continue Reading</a>
  </article>
</section>

<div class="spacing"></div>

<section id="recent">
  {% for post in site.posts offset:1 | limit: 6 %}
    <article class="excerpt">
      <header>
        <h1 class="title"><a href="{{ post.url }}">{{ post.title | camel_break }}</a></h1>
        <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
      </header>
      {{ post.excerpt | markdownify }}
    </article>
  {% endfor %}

<div id="titleOnly">
    {% for post in site.posts offset:7 %}
    <article>
      <header>
        <h1 class="title"><a href="{{ post.url }}">{{ post.title | camel_break }}</a></h1>
        <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
      </header>
    </article>
  {% endfor %}
</div>
</section>

</div>
