<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="{{ site.author.display_name }}">
    <meta name="description" content="{% if page.summary %}{{page.summary}}{% elsif page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{{site.defaultTags}}{% if page.tags %}, {% for tag in page.tags %}{{tag}},{% endfor %}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
