<style>
.coverImage{
  background: url({{ site.assets-path }}{% if page.cover %}{{ page.cover }}{% else %}{{site.cover}}{% endif %});
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.coverImageCentered{
  background: url({{ site.assets-path }}{% if page.cover %}{{ page.cover }}{% else %}{{site.cover}}{% endif %});
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
</style>
<div class="headerImageWrapper {% if page.cover-centered %}coverImageCentered{% else %}coverImage{% endif %}"></div>

<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

{% include nav.html %}

  </div>
</header>
