---
layout: sitepage
title: Tweaks
cover: MiniPlayerCover.jpg
cover-centered: 1
permalink: Tweaks/
---

<style>
.product{
	margin: 40px 0;
}
.video{
	width:251px;
	margin: 0 auto;
	margin-top: 15px !important;
}
</style>
{% for tweak in site.data.tweaks %}
<div class="product">
<table class="products">
<tr>
	{% if tweak.icon %}<td style="width:60px;"><img class="profilepic" src="{{ site.assets-path }}{{tweak.icon}}" /></td>{% endif %}
	<td>{{tweak.name}}</td> 
</tr>
</table>
<hr />
{{tweak.description | markdownify}}
{% if tweak.video %}
<div class="video">{{tweak.video}}</div>
{% endif %}
<br />
<button  onclick="location.href='{{tweak.url}}'">Install</button>
</div>
{% endfor %}

<br />
Some other Tweaks have been deprecated because of iOS changes during these years, they are all in my heart and I hope in the heart of the thousands of users that used them!